 @model  List<EmployeeManager.Models.Employees>


<h2>List of employees</h2>
<h2 class="message">@TempData["Message"] </h2>

<a asp-controller="EmployeeManager" asp-action="Insert" class="btn btn-primary">Insert</a>
<br /><br />
      <table border="1">
          <thead class="thead-light">
              <tr>
                  <th>Employee Id</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Title</th>
                  <th>Coubtry</th>
                  <th colspan="2">Actions</th>
              </tr>
          </thead>
          @foreach (var item in Model)
          {
              <tr>
                  <td>@item.EmployeeID</td>
                  <td>@item.FirstName</td>
                  <td>@item.LastName</td>
                  <td>@item.Title</td>
                  <td>@item.Country</td>
                  <td>
                      <a asp-contoller="EmployeeManger" asp-action="Update" asp-route-id="@item.EmployeeID" class="btn btn-success">Update</a>
                  </td>
                  <td>
                      <a asp-contoller="EmployeeManger" asp-action="Delete" asp-route-id="@item.EmployeeID" class="btn btn-danger">Delete</a>
                  </td>
              </tr>

          }
      </table>